  @import url(https://fonts.googleapis.com/css?family=Indie+Flower);
h1 {
  color: #FF1919;
  background-color: orange;
  font-family: Indie flower;
  text-align: center;
}

h2 {
  text-align: center;
}
